<div class="banner">
    <img src="../../../assets/images/banner-image.png" width="150" alt="">

    <h2>
        Assess your company's current BIM Implementation Maturity
    </h2>

    <p>
        BIM gauge is an online assessment tool to help companies and organization assess their current BIM
        Implementation Maturity. You can generate result within a few minutes and see what areas are need for improvement.
    </p>

    <button (click)="start()">
        Start Now!
    </button>
</div>

<div class="container steps">
    <h1 class="text-center">Welcome to BIM Gauge</h1>

    <div class="step">
        <div>
            <h2>1. Set your company profile.</h2>
            <span>
                To start the assessment, BIM gauge will ask you to enter some general information
                about the company.
            </span>
        </div>

        <img src="" alt="">
    </div>

    <div class="step">
        <div>
            <h2>2. Assess your BIM Implementation Maturity</h2>
            <span>
                Next, you will be directed to rate your company's BIM Implementation Maturity 
                in specific areas. Each question can have a score of 0 (lowest) to 5 (highest).
                <br><br>
                As you move the slider button, you will see the corresponding description of 
                that value state. Choose the state that mose correspons to your actual condition.
                <br><br>
                Complete this rating for all five fundamental components:
            </span>
            <ul>
                <li>Process</li>
                <li>Technology</li>
                <li>Organization</li>
                <li>Standards</li>
                <li>Stakeholders</li>
            </ul>
        </div>

        <img src="" alt="">
    </div>

    <div class="step">
        <div>
            <h2>2. Assess your BIM Implementation Maturity</h2>
            <span>
                Once you have answered all questions, click the "Submit" button to 
                calculate your result. The organization's Maturity level will be shown as an 
                diagram.
                <br><br>
                You can generate a digital copy of your BIM gauge result by clicking the "Print" 
                button at the bottom of the screen.
            </span>
        </div>

        <img src="" alt="">
    </div>

    <button (click)="start()">
        Start Now!
    </button>
</div>