<div class="banner">
    <img src="../../../assets/images/banner-image.png" width="150" alt="">

    <h2>
        Assess your company's current BIM Implementation Maturity
    </h2>

    <p>
        BIM gauge is an online assessment tool to help companies and organization assess their current BIM
        Implementation Maturity. You can generate result within a few minutes and see what areas are need for
        improvement.
    </p>

    <button (click)="start()">
        Start Now!
    </button>
</div>

<div class="container steps">
    <h1 class="text-center">Welcome to BIM Gauge</h1>

    <div class="step">
        <div>
            <h2>1. Set your company profile.</h2>
            <span>
                To start the assessment, BIM gauge will ask you to enter some general information
                about the company.
            </span>
        </div>

        <img src="" alt="">
    </div>

    <div class="step">
        <div>
            <h2>2. Assess your BIM Implementation Maturity</h2>
            <span>
                Next, you will be directed to rate your company's BIM Implementation Maturity
                in specific areas. Each question can have a score of 0 (lowest) to 5 (highest).
                <br><br>
                As you move the slider button, you will see the corresponding description of
                that value state. Choose the state that most corrensponds to your actual condition.
                <br><br>
                Complete this rating for all five fundamental components:
            </span>
            <ul>
                <li>BIM Usage & Information Flow - This components will measure the organization's maturity on BIM usage
                    and information management throughout the whole project lifecycle. </li>
                <li>Strategy (Collaboration and Working Practice) - This component will measure the collaboration
                    strategy used in the project and their working practice. </li>
                <li>Infrastrature (Tools & Applications) - This component will measure the organization's capability to
                    deliver BIM from their Software, Hardware, and IT Security</li>
                <li>Organization & Management - This component will measure the maturity of organization's management in
                    implementing BIM in the project and organization.</li>
                <li>Information Exchange & Data Structure - This component will measure the maturity of information
                    exchange and data structure used in the project.</li>
                <li>Personnel (Mentality & Culture) - This component will measure the capacity of the Personnel involved
                    in the implementation of BIM in the organization.</li>
            </ul>
        </div>

        <img src="" alt="">
    </div>

    <div class="step">
        <div>
            <h2>2. Assess your BIM Implementation Maturity</h2>
            <span>
                Once you have answered all questions, click the "Submit" button to
                calculate your result. The organization's Maturity level will be shown as a
                diagram.
                <!-- <br><br>
                You can generate a digital copy of your BIM gauge result by clicking the "Print" 
                button at the bottom of the screen. -->
            </span>
        </div>

        <img src="" alt="">
    </div>

    <button (click)="start()">
        Start Now!
    </button>
</div>